.popup__name {
    margin-bottom: 30px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    padding: 0 0 13px;
    width: 100%;
    border-bottom: 1px solid #C4C4C4;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}